/*Selector de etiquetas*/
		p{
			color: SpringGreen;
			text-transform: capitalize;
		}
			/*selector{
				propiedad:valor;
			}*/	
		/*Selector de clase css*/
		.green{
			height: 169px;
			width: 169px;
			background-color: green;
		}	

		/*Selector unico por id*/
		#boton-id-pago{
			background-color: cyan;
		}
		/*Primer gradiente de color uwu*/
		.container{
			background: #8360c3;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
			background: -webkit-linear-gradient(left, #2ebf91, #8360c3);
			background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */			 
		}	
		.mygrad{
		    background: #11998e;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
		    background: -webkit-linear-gradient(left, #38ef7d, #11998e);		    
		    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */		   
		} 

		.mybody{
			background: #A1FFCE;  /* fallback for old browsers */
			background: -webkit-linear-gradient(to right, #A1FFCE, #FAFFD1);  /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to right, #A1FFCE , #FAFFD1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		}