.body{
	padding: 50px 0px 0px 0px;
	z-index: 0;
}

.jumbotron {
	padding: 70px 30px 70px 30px;
	margin: 0px auto;
	background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
	color: floralwhite;
}

.navbar-dark {
	background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}

.row-header {
	margin: 0px auto;
	padding: 0px;
}

.row-content {
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}

.footer {
	background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}

a:hover{
	color: #f5008d;	
	text-decoration: underline;
	font-style: oblique;
	font-size:105%;
}

.btn_reserve_color{	
	background: linear-gradient(90deg, hsla(55, 96%, 69%, 1) 0%, hsla(41, 97%, 64%, 1) 50%, hsla(343, 88%, 63%, 1) 100%);
}